{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h4 class="mb-6">Список задач</h4>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Участник 1:</strong>
            <ul>
                <li>Добавить в модель поля "дата создания" и "дата выполнения".</li>
                <li>Сделать "подвал" сайта со ссылками на страницы: список, экспорт, визуализация. Подвал должен быть на
                    всех страницах.
                </li>
                <li>Реализовать визуализацию в виде возврата красивой картинки. По умолчанию делаем treemap по тегам.
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Участник 2:</strong>
            <ul>
                <li>Вынести список тудушек на ручку /list и сделать страницу /visualize с некоторой картинкой
                    визуализации.
                </li>
                <li>Реализовать экспорт тудушек в эксель, то есть скачивание всех тудушек в виде xlsx файла.</li>
                <li>Модифицировать скрипт создания набора тудушек, чтобы он заполнял теги.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Участник 3:</strong>
            <ul>
                <li>На главной странице сделать список fullname участников с выполненными задачами у каждого.</li>
                <li>Реализовать отдельную страницу с двумя кнопками экспорта и импорта тудушек в эксель.</li>
                <li>Реализовать импорт тудушек из эксель-файла, то есть наполнение базы из xlsx-файла.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Участник 4 (опциональный):</strong>
            <ul>
                <li>Добавить ручку /generate (опционально /generate?count=50 ).</li>
                <li>На странице редактирования тудушки показывать дату создания и дату выполнения тудушки, если есть.
                </li>
                <li>Добавить в модель поле source (реализованное как enum).</li>
            </ul>
        </li>
    </ul>
</div>

{% endblock content %}