{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h4 class="mb-6">Список задач</h4>
    <ul class="list-group">
        <li class="list-group-item border-top">
            <strong>2022-3-02-vas:</strong>
            <ul>
                <li>Добавить ручку /generate (опционально /generate?count=50).</li>
                <li>На странице редактирования тудушки показывать дату создания и дату выполнения тудушки, если есть.</li>
                <li>Добавить в модель поле source (реализованное как enum).</li>
                <li>Реализовать тесты к ручке import_issues и редактированию тудушки.</li>
                <li>Заменить SQLite на PostgreSQL.</li>
                <li>Реализовать на главной поле для настройки limit.</li>
                <li>Реализовать возможность хранения картинки в тудушке (отдельное поле). Рекомендуется картинку хранить на диске, а в тудушке хранить путь к ней.</li>
                <li>Добавить страницу /generator, на которой дать возможность выбора числа тудушек для генерации и кнопки "сгенерировать".</li>
                <li>Реализовать страничку /import_issues выгрузки issue заданного проекта из gitlab/gitwork (поля для ввода - URL, токен гитлаба) с превращением всех задач проекта в тудушки (title задачи -> title тудушки, описание задачи -> описание тудушки с учётом ограничения на длину, дата создания задачи -> дата создания тудушки).</li>
                <li>Реализовать страницу для отображения java-app приложение одного из участников.</li>
                <li>Запустить текущий фронт как tg mini app. Если не получится - взять шаблон любого tg mini app фронта и пробросить туда список всех тудушек.</li>
            </ul>
        </li>
        <li class="list-group-item border-top mt-4">
            <strong>2022-3-03-vor:</strong>
            <ul>
                <li>Вынести список тудушек на ручку /list и сделать страницу /visualize с некоторой картинкой визуализации.</li>
                <li>Реализовать экспорт тудушек в эксель, то есть скачивание всех тудушек в виде xlsx файла.</li>
                <li>Модифицировать скрипт создания набора тудушек, чтобы он заполнял теги.</li>
                <li>Реализовать тесты к ручке list и созданию тудушки.</li>
                <li>Сформировать docker compose с поднятием приложения и базы данных.</li>
                <li>Реализовать поиск дубликатов загруженных картинок. Рекомендуется хранить хэш картинки и осуществлять поиск по хешу. При загрузке дубликата писать, что в этих тудушках такая картинка уже есть: список кликабельных ID тудушек.</li>
                <li>Добавить на странице тудушек фильтр типов, в котором можно выбрать типы тудушек для отображения. При выборе значений фильтровать тудушки, то есть показывать только тудушки выбранного типа.</li>
                <li>Добавить возможность удаления всех тудушек или указанного диапазона.</li>
                <li>Добавить в подвал /import_log, /import_issues и остальные ручки, какие есть.</li>
                <li>Для java-app реализовать модуль клиента, который позволяет получать список объектов и добавлять новые объекты.</li>
                <li>С помощью ngrok или любого другого способа обеспечить запуск tg mini app. Для него нужен https, самый простой способ - ngrok даст валидный адрес, который нужно прописать в боте.</li>
            </ul>
        </li>
        <li class="list-group-item border-top mt-4">
            <strong>2022-3-11-pot:</strong>
            <ul>
                <li>Добавить в модель поля "дата создания" и "дата выполнения".</li>
                <li>Сделать "подвал" сайта со ссылками на страницы: список, экспорт, визуализация. Подвал должен быть на всех страницах.</li>
                <li>Реализовать визуализацию в виде возврата красивой картинки. По умолчанию делаем treemap по тегам.</li>
                <li>Реализовать тесты к ручке импорта эксельки.</li>
                <li>Реализовать возможность фильтрации тудушек по дате создания "от" и "до", дату выбирать через готовый виджет-календарь. Допускается указание одной даты, тогда "от" указанного и дальше любая.</li>
                <li>При редактировании тудушки дать возможность выбора среди всех изображений, загруженных ранее.</li>
                <li>Добавить возможность регистрации новых пользователей, добавить в тудушку имя автора, кто её создал. Брать имя пользователя.</li>
                <li>На кнопки удаления, импорта из эксельки и импорта из issue добавить всплывающее окно подтверждения.</li>
                <li>Для /import_issues продумать возможность выгрузки всех задач (см. pagination в гитлабе).</li>
                <li>Для java-app обеспечить функционирование limit и page для выводимых объектов аналогично тому, как сделано для списка тудушек.</li>
                <li>Реализовать отображение данных текущего пользователя в tg mini app.</li>
            </ul>
        </li>
        <li class="list-group-item border-top mt-4">
            <strong>2022-3-17-che:</strong>
            <ul>
                <li>На главной странице сделать список fullname участников с выполненными задачами у каждого.</li>
                <li>Реализовать отдельную страницу с двумя кнопками экспорта и импорта тудушек в эксель.</li>
                <li>Реализовать импорт тудушек из эксель-файла, то есть наполнение базы из xlsx-файла.</li>
                <li>Реализовать тесты к ручке import_log и удалению тудушки.</li>
                <li>Реализовать учётку user:user с помощью simple-oauth2. Добавить кнопку авторизации, защитить авторизацией добавление и импорт тудушек - весь просмотр оставить доступным без авторизации.</li>
                <li>Реализовать страницу /import_log с перечнем всех импортированных эксель-файлов. Для построение пути к эксельке использовать pathlib.</li>
                <li>Реализовать сохранение limit и page для списка тудушек при переходе по страницам (проброс URL-параметров везде. Можно реализовать по-другому, например, в cookie - по желанию). То есть после создания или редактирования тудушки надо оставаться на той же странице, где и был.</li>
                <li>Модифицировать страницу редактирования тудушки, дополнив картинкой (и полем выбора картинки для загрузки).</li>
                <li>На странице редактирования тудушки добавить возможность перехода на список тудушек с фильтром указанного типа (то есть из тудушки с типом "учёба" перейти на список, в котором только тудушки типа "учёба"). Сам фильтр делает другой участник.</li>
                <li>Дополнить docker compose запуском сервиса с java-app.</li>
                <li>Создать телеграм-бота для будущего tg mini app.</li>
            </ul>
        </li>
    </ul>
</div>

{% endblock content %}