{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h4 class="mb-6">Список задач</h4>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Кирилл:</strong>
            <ul>
                <li>На главной странице сделать список fullname участников с выполненными задачами у каждого.</li>
                <li>Реализовать отдельную страницу с двумя кнопками экспорта и импорта тудушек в эксель.</li>
                <li>Реализовать импорт тудушек из эксель-файла, то есть наполнение базы из xlsx-файла.</li>
                <li>Реализовать тесты к ручке import_log и удалению тудушки</li>
                <li>Реализовать учётку user:user с помощью simple-oauth2
                    https://fastapi.tiangolo.com/tutorial/security/simple-oauth2/. Добавить кнопку авторизации, защитить
                    авторизацией добавление и импорт тудушек - весь просмотр оставить доступным без авторизации
                </li>
                <li>Реализовать страницу /import_log с перечнем всех импортированных эксель-файлов. Для построение пути
                    к эксельке использовать pathlib
                </li>
                <li>Реализовать сохранение limit и page для списка тудушек при переходе по страницам (проброс
                    URL-параметров везде. Можно реализовать по-другому, например, в cookie - по желанию). То есть после
                    создания или редактирования тудушки надо оставаться на той же странице, где и был
                </li>
                <li>Модифицировать страницу редактирования тудушки, дополнив картинкой (и полем выбора картинки для
                    загрузки)
                </li>
                <li>На странице редактирования тудушки добавить возможность перехода на список тудушек с фильтром
                    указанного типа (то есть из тудушки с типом "учёба" перейти на список, в котором только тудушки типа
                    "учёба"). Сам фильтр делает другой участник
                </li>
                <li>Дополнить docker compose запуском сервиса с java-app</li>
                <li>Создать телеграм-бота для будущего tg mini app</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Участник 1:</strong>
            <ul>
                <li>Добавить в модель поля "дата создания" и "дата выполнения".</li>
                <li>Сделать "подвал" сайта со ссылками на страницы: список, экспорт, визуализация. Подвал должен быть на
                    всех страницах.
                </li>
                <li>Реализовать визуализацию в виде возврата красивой картинки. По умолчанию делаем treemap по тегам.
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Участник 2:</strong>
            <ul>
                <li>Вынести список тудушек на ручку /list и сделать страницу /visualize с некоторой картинкой
                    визуализации.
                </li>
                <li>Реализовать экспорт тудушек в эксель, то есть скачивание всех тудушек в виде xlsx файла.</li>
                <li>Модифицировать скрипт создания набора тудушек, чтобы он заполнял теги.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Участник 4 (опциональный):</strong>
            <ul>
                <li>Добавить ручку /generate (опционально /generate?count=50 ).</li>
                <li>На странице редактирования тудушки показывать дату создания и дату выполнения тудушки, если есть.
                </li>
                <li>Добавить в модель поле source (реализованное как enum).</li>
            </ul>
        </li>
    </ul>
</div>

{% endblock content %}