{% extends 'base.html' %}

{% block content %}

<h2 class="h2">Задачи</h2>

<div class="accordion" id="accordionFilters">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                Фильтры
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFilters">
            <div class="accordion-body">
                <form id="formFilters">
                    <div class="mb-3">
                        <span class="form-label">Дата создания</span>
                        <div class="input-group input-group-sm flex-nowrap mb-1">
                            <span class="input-group-text" id="addon-wrapping">От</span>
                            <input type="date" name="creation_date_start" class="form-control" placeholder="" aria-label="" aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group input-group-sm flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">До</span>
                            <input type="date" name="creation_date_end" class="form-control" placeholder="" aria-label="" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const accardion = document.querySelector("#accordionFilters");
    accardion.querySelector("button.accordion-button").addEventListener("click", (e) => {
        e.currentTarget.classList.toggle("collapsed")
        document.querySelector(`${e.currentTarget.dataset.bsTarget}`).classList.toggle("show")
    })

    const form = document.querySelector("#formFilters")

    const handleFilterSubmit = (e) => {
        e.preventDefault();
        const params = new URLSearchParams(window.location.search)
        form.querySelectorAll("input.form-control").forEach((input) => {
            if(input.value){
                params.set(input.name, input.value)
            } else {
                params.delete(input.name)
            }
        })
        window.location.search = params.toString()
    }

    form.addEventListener("submit", handleFilterSubmit)
</script>

<ul class="list-group">
    {% for todo in todos %}
    <li class="list-group-item d-flex align-items-center gap-3 flex-wrap">
        {% if todo.completed %}
        <strike>{{ todo.title }}</strike>
        {% else %}
        <span>{{ todo.title }}</span>
        {% endif %}

        <div style="color: dodgerblue">
            {{ todo.source.value }}
        </div>

        <div class="form-check form-switch ms-auto">
            <label class="form-check-label" for="flexSwitchCheckChecked">Выполнено</label>
            <input class="form-check-input completedTask" type="checkbox" id="flexSwitchCheckChecked"
                   data-todo-id="{{ todo.id }}" data-todo-title="{{ todo.title }}"
                   data-todo-details="{{ todo.details }}" data-todo-tag="{{ todo.tag }}" {% if todo.completed
                   %}checked{% endif %}>
        </div>

        <div class="btn-group">
            <a class="btn btn-success"
               href="/todo/edit/{{ todo.id }}/?limit={{ limit }}&skip={{ page }}">Редактировать</a>
            <button class="btn btn-danger deleteButton" href="#" data-todo-id="{{ todo.id }}">Удалить</button>
        </div>
    </li>
    {% endfor %}
</ul>

<nav>
    <ul class="pagination">
        {% for i in range(pages) %}
        <li class="page-item {% if i==page %}active{% endif %}">
            <a class="page-link" href="/todo/list/?limit={{ limit }}&skip={{ i }}">{{ i + 1 }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>


<script>

    document.querySelectorAll('.deleteButton').forEach(button => {
        button.addEventListener('click', function (e) {
            const todoId = this.dataset.todoId;

            const action = () => {
                fetch(`/todo/delete/${todoId}/`, {
                    method: 'DELETE'
                })
                .then(res => res.json())
                .then(data => {
                    console.log('Успешно:', data);
                    window.location.href = '/todo/list/';
                })
                .catch(error => console.error('Ошибка:', error))
            };
            closeShowModal(action)
        });
    });


    document.querySelectorAll('.completedTask').forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            const todoId = this.dataset.todoId;
            const todoTitle = this.dataset.todoTitle;
            const todoDetails = this.dataset.todoDetails;
            const todoTag = this.dataset.todoTag;

            fetch(`/todo/edit/${todoId}/`, {
                method: 'PUT',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({title: todoTitle, details: todoDetails, completed: this.checked, tag: todoTag})
            })
                    .then(res => res.json())
                    .then(data => {
                        console.log('Успешно:', data);
                        window.location.href = '/todo/list/';
                    })
                    .catch(error => console.error('Ошибка:', error));
        });
    });
</script>

{% endblock content %}